<!-- Rodrigo Barba - Shinia -->
{% extends 'base.html' %}
{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-products.css') }}">
{% endblock %}
{% block subtitle %} Usuarios - Insertar Usuarios {% endblock %}
{% block content %}
<!-- Notificaciones -->
<section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3 m-auto" role="alert" style="width: 95%;">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</section>
<!-- Notificaciones -->

<section>
    <!-- Formulario de Insertar Usuario -->
    <div class="container-input-custom">
        <h1 class="pt-3 mt-3"><i class="fa-solid fa-wand-magic-sparkles" style="color: #80c2af;"></i> - Insertar Producto</i></h1>
        <div class="row">
            <div class="col-md-12">
                <form id="product-form" action="/users/edit/{{ id }}" method="POST">
                    <div class="form-group mt-3">
                        <label for="">Usuario:</label>
                        <input type="text" class="form-control" id="" name="usernameInput"
                            value="{{ user.username }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Contraseña:</label>
                        <input type="text" class="form-control" id="" name="passwordInput"
                            value="" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Nombre:</label>
                        <input type="text" class="form-control" id="" name="firstnameInput"
                            value="{{ user.firstname  }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Apellido:</label>
                        <input type="text" class="form-control" id="" name="lastnameInput"
                            value="{{ user.lastname }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Correo Electrónico:</label>
                        <input type="text" class="form-control" id="" name="emailInput"
                            value="{{ user.email  }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Dirección:</label>
                        <input type="text" class="form-control" id="" name="addressInput"
                            value="{{ user.physical_address }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Teléfono:</label>
                        <input type="text" class="form-control" id="" name="phoneInput"
                            value="{{ user.phone  }}" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Tipo:</label>
                        <input type="text" class="form-control" id="" name="userTypeInput"
                            value="{{ user.user_type }}" required>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Formulario de Insertar -->
</section>
{% endblock %}
{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-products.js') }}"></script>
{% endblock %}